.navbar a {
  text-decoration: none;
  color: #fff;
  margin-right: 25px;
}
.nav-before small {
  position: relative;
}
.nav-before:hover {
  small::before {
    margin-top: 5px;
    content: "";
    position: absolute;
    display: inline-block;
    top: 100%;
    width: 100%;
    left: 0;
    height: 7px;
    border-radius: 2px;
    background: linear-gradient(
      130deg,
      #ff7a18,
      #af002d 41.07%,
      #319197 76.05%
    );
  }
}
.navbar a:last-child {
  border-bottom: none;
}

.displayName {
  color: #1909ff;
  font-style: italic;
  margin-right: 5px;
}
.my-button {
  background: linear-gradient(335.64deg, #fd72aa -19.22%, #c7004c 118.87%);
  color: #fff;
  border: none;
  border-radius: 20px;
}

.my-button:hover {
  background: linear-gradient(45deg, #ff00a2, #ff002b);
  color: white;
}
