.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(90deg, #6271ff, #e739f5); */
}

.my-cart {
  width: 400px;
  background: rgb(196, 196, 196);
  text-align: center;
  margin: 50px 0;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: -1px 15px 21px -6px rgba(169, 49, 49, 0.61);
  -webkit-box-shadow: -1px 15px 21px -6px rgba(169, 49, 49, 0.61);
  -moz-box-shadow: -1px 15px 21px -6px rgba(169, 49, 49, 0.61);
}

.register-form input {
  padding: 7px 14px;
  width: 300px;
  margin: 5px 0px;
  border-radius: 10px;
  border: none;
  outline: none;
}
input:focus {
  background-color: rgb(223, 223, 223);
}

.register-btn {
  width: 130px;
  font-size: 24px;
  background: linear-gradient(90deg, rgb(139, 16, 16), rgb(16, 16, 121));
  cursor: pointer;
  color: white;
}
.register-btn:hover {
  background: linear-gradient(90deg, rgb(243, 6, 6), rgb(0, 0, 241));
  color: white;
}
